{{ template "head.html" .}}

    <div class="container" role="main">
        <div class="page-header">
            <div class="jumbotron">
                <h1>Blockchain SuperNerd Info</h1>
                <p>Because you cannot live without blockchain news everywhere</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
		        <table class="table table-bordered">
                    {{ range .NerdInfos }}
            		<tr>
		                <td>{{ .Name }}</td>
		                <td>{{ .Value }}</td>
		            </tr>
		            {{ end }}
		        </table>
		    </div>
		</div>

        <div class="row">
        	<h1>Bitcoin Live Exchange</h1>
            <div class="col-md-12">
            	<pre>{{ .Graph }}</pre>
            </div>
        </div>
    </div>

{{ template "footer.html" .}}