{{ template "head.html" .}}

    <div class="container" role="main">
        {{ range .Messages }}
        <div class="alert alert-success alert-dismissible" role="alert">
          <p><strong>Well done!</strong> {{ . }} <p/>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        {{ end }}

        <div class="page-header">
            <div class="jumbotron">
                <h1>Network configuration</h1>
                <p>This pages allows to monitor and change the network configuration</p>
            </div>
        </div>

        <h1>Connection status</h1>
        <table class="table table-bordered">
            <tr>
                <th>Interface</th>
                <th>Status</th>
                <th>IP addresses</th>
            </tr>
            {{ range .Interfaces }}
            <tr>
                <td>{{ .Name }}</td>
                <td>
                    {{ if eq .Status "CONNECTED" }}
                        <span class="label label-success">Connected</span>
                    {{ end }}
                    {{ if eq .Status "NOINTERNET" }}
                        <span class="label label-warning">Internet unreachable</span>
                    {{ end }}
                    {{ if eq .Status "DISCONNECTED" }}
                        <span class="label label-danger">Disconnected</span>
                    {{ end }}

                    {{ .Comment }}
                </td>
                <td>{{ .IP }}</td>
            </tr>
            {{ end }}
        </table>

        <div class="row">

            <div class="col-md-4">
                <h1>Add a new Wi-Fi Network</h1>
                <form id="addwifi" class="form-horizontal" method="POST" action="/connection/add">
                  <div class="form-group">
                    <label for="inputName" class="col-md-4 control-label">Wi-Fi Network</label>
                    <div class="col-md-8">
                      <select name="name" class="form-control" id="inputName">
                        {{ $current := .WifiCurrent }}
                        {{ range .WifiScan }}
                            <option {{ if eq $current . }} selected {{ end }}>{{.}}</option>
                        {{ end }}
                        <option disabled>Refreshing...</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputPassword" class="col-md-4 control-label">Password</label>
                    <div class="col-md-8">
                      <input type="text" class="form-control" name="password" id="inputPassword" placeholder="">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-md-offset-2 col-md-2">
                      <button type="submit" class="btn btn-default">Connect</button>
                    </div>
                  </div>
                </form>
            </div>

            <div class="col-md-offset-2 col-md-6">
                <h1>Forget a Wi-Fi</h1>

                <form method="POST" action="/connection/remove">
                    <ul id="known" class="list-group" style="overflow:scroll">
                    {{ $current := .WifiCurrent }}
                    {{ range .WifiKnown }}
                        <a href="#" class="list-group-item">
                        {{ if eq $current . }} <span class="badge">[*]</span>  {{ end }}
                        {{ . }}
                        </a>
                    {{ end }}
                    </ul>

                  <div class="form-group">
                    <input type="hidden" class="form-control" name="name" id="forgetName">
                    <div class="col-md-offset-2 col-md-2">
                      <button id="forget" type="submit" class="btn btn-default disabled">Forget</button>
                    </div>
                  </div>
                </form>
            </div>

        </div>
    </div>

    <script>
        $(document).ready(function() {
            $("#known a").click(function(e) {
                e.preventDefault();
                $("#known a").removeClass("active");
                $(this).addClass("active");
                $("#forget").removeClass("disabled");
                $("#forgetName").val($.trim($(this).clone().children().remove().end().text()));
            });

            window.setInterval(function() {
                 $.ajax({
                    type: 'GET',
                    url: '/connection/scan',
                    complete: function(r) {
                        var networks = r.responseText.split(/\n/);

                        var select = $('#inputName');
                        var selected = select.val();
                        if(select.prop) {
                            var options = select.prop('options');
                        }
                        else {
                            var options = select.attr('options');
                        }
                        $('option', select).remove();

                        $.each(networks, function(val, text) {
                            options[options.length] = new Option(text);
                        });

                        var refr = new Option("Refreshing...");
                        $(refr).attr('disabled', 'true');
                        options[options.length] = refr;

                        select.val(selected);
                    }
                 });
            }, 3000);
        });
    </script>

{{ template "footer.html" .}}
