[Unit]
Description=CryptoFaxPA daemon
Wants=network-online.target
After=network-online.target cryptofaxpa-printer.path

[Service]
Type=simple
ExecStartPre=/home/pi/bumpvolume.sh
WorkingDirectory=/home/pi/realcrypto
ExecStart=/home/pi/realcrypto/client
Restart=always
EnvironmentFile=/etc/sysconfig/cryptofaxpa

[Install]
WantedBy=basic.target
